resume = true

process {
// memory = 3.7.GB
 withName: nanoplot_fastq_quality { 
   cpus = 8
   container = 'nanozoo/nanoplot:1.25.0--4e2882f'
 }
 withName: filtlong_fastq {
  cpus = 8
  container = 'nanozoo/filtlong:v0.2.0--afa175e'
 }
 withName: denovo_pomoxis {
  cpus = 8 
  container = 'nanozoo/pomoxis:0.2.2--668c244'
 }
 withName: minialign_var {
  cpus = 8
  container = 'nanozoo/pomoxis:0.2.2--668c244'
 }
 withName: index_filtered {
  cpus = 8
  container = 'replikation/nanopolish:latest'
 }

 withName: call_variants {
  cpus = 8
  container = 'replikation/nanopolish:latest'
 }
 withName: call_methyl {
  cpus = 8
  container = 'replikation/nanopolish:latest'
 }
}



docker.enabled = true
docker.runOptions="-u \$(id -u):\$(id -g)"
docker.fixOwnership = true
